<%- partial('post/title', {item: item, index: false}) %>

<% if (item.shadow ) { %>
   <style type="text/css">
           img, video {
                -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                box-shadow:0 0 10px rgba(0, 0, 0, .5);  
           }
   </style>
<% } %>


<div class="row <% if (post) { %>post<% } else { %>page<% } %>">
	<!-- cols -->
	<% if (post) { %>
	<div id="top_meta"></div>
	<% } %>
	
	<div class="col-md-9">

	<!-- content -->
	<div class="mypage">		
	  <% if (item.description) { %>
		 <div class="alert alert-success description">
			<i class="fa fa-info-circle"></i> <%- markdown(item.description) %>			
		 </div> <!-- alert -->
	  <% } %>		

	  <%- item.content %>	  
	</div>

	<div>
  	<center>
	<%- partial('post/pagination', {page: item}) %>
    </center>
	</div>

    <!-- share -->
    <% if (post) { %>
        <%- partial('post/bdshare', {page: item}) %>
        <%- partial('post/jiathis', {page: item}) %>
    <% } %>
	
	<!-- comment -->
	<%- partial('post/comment', {page: item}) %>
	</div> <!-- col-md-9/col-md-12 -->
		
	<% if (post) { %>
	<div id="side_meta">
		<%- partial('post/meta', {item: item}) %>
	</div>
	<% } %>

	<% if (theme.widgets.length) { %>
	<%- partial('sidebar') %>
	<% } %>

	</div><!-- row -->
<%- partial('post/comment_footer', {page: item}) %>
